/* styling af main */

main {
  max-width: 1200px;
  margin: 15px;
  padding: 15px;
  /* text-align: center; */
  margin: 0 auto;
}

/* styling af navigation */

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 40px;
  border: none;
}

nav img {
  max-width: 40px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-family: rama-gothic-m, sans-serif;
  font-size: 1.5rem;
}

a:hover {
  color: #f7f94e;
}

@media (min-width: 599px) {
  header {
    display: flex;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 50px;
    border: none;
  }

  nav img {
    max-width: 60px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: rama-gothic-m, sans-serif;
    font-size: 2rem;
  }

  a:hover {
    color: #f7f94e;
  }
}

/* styling af body */

body {
  background-color: black;
}

/* styling af billeder  */

img {
  max-width: 100%;
}

.imgsection2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* styling af fonte  */

h2 {
  font-family: rama-gothic-m, sans-serif;
  font-size: 2rem;
  color: white;
  display: grid;
  justify-content: left;
}

h3 {
  font-family: rama-gothic-m, sans-serif;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
}

h3:hover {
  color: #f7f94e;
}

p {
  font-family: nimbus-sans, sans-serif;
  color: white;
  max-width: 50ch;
  display: grid;
  justify-content: left;
}

/* second_section på computer  */

@media (min-width: 599px) {
  #second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* ---------- Footer :) ---------- */
footer {
  margin: 0;
  padding: 30px 60px 10px 60px;
  gap: 50px;
  line-height: 1.5;
  justify-content: space-between;
  grid-area: 1/1;
  font-family: nimbus-sans, sans-serif;
}

p.kontaktinfo {
  font-family: nimbus-sans, sans-serif;
  font-weight: bold;
}

address {
  font-style: normal;
  color: white;
  margin-bottom: 30px;
}

footer a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-family: nimbus-sans, sans-serif;
}

footer p {
  color: white;
  margin: 0;
}

h5 {
  color: white;
  font-family: nimbus-sans, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

footer a:hover {
  text-decoration: underline;
}

#flinks {
  margin-bottom: 30px;
}

#fsome {
  display: flex;
  gap: 10px;
  justify-content: start;
}

#flinks a {
  max-width: 9%;
}

hr {
  color: white;
}

footer img {
  width: 40px;
  height: 40px;
}
